// imports
@import 'vendors/reset.styl'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400')

*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Open Sans', sans-serif
  font-weight 100

html
  font-size 14px
  width 100%
  height 100%

body
  line-height 1.5
  color #ffff
  width 100%
  background-color #2b2b2b    

#app
  width 100%
  height 100%
